<!DOCTYPE html>
<html>
  <head>
    <title>HamsterNest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "application/top_banner" %>
    <div id="main-body">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>


</html>
