<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <% if @borrower.first_name != "" %>
      <h1>Hello, <%= @borrower.first_name %></h1>
    <% else %>
      <h1>Hello, <%= @borrower.username %></h1>
    <% end %>

    <p>You have <%= @items.count %> item(s) to be returned.<p>

    <table>
      <% @items.each do |item| %>
        <tr>
        <td><%= item.item_name %></td>
        <td><%= link_to 'View item', item_path(item) %></td>
        </tr>
      <% end %>
    </table>

    <p>Please don't reply to this email.</p>
    
  </body>
</html>