<!DOCTYPE html>
<html>
  <head>
    <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {background-color:#f5f5f5;}
    </style>
  </head>
  
  <body>

    <% if @borrower.first_name != "" %>
      <h1>Hello, <%= @borrower.first_name %></h1>
    <% else %>
      <h1>Hello, <%= @borrower.username %></h1>
    <% end %>

    <p>You have <%= @item_infos.count %> item(s) to be returned.<p>

    <table>
      <tr>
        <th>Item name</th>
        <th>Return date</th>
      </tr>
      <% @item_infos.each do |info| %>
        <tr>
        <td><%= link_to info[:itemname], info[:url] %></td>
        <td><%= info[:returndate] %></td>
        </tr>
      <% end %>
    </table>

    <p>Please don't reply to this email.</p>
  </body>
</html>

