<div class = "comment_form" >

  <%= form_with(model: [ @item, @item.comments.build ], local: true) do |form| %>
  <!-- check if any error -->
  <% if @item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@item.errors.count, "error") %> prohibited
      this request from being sent:
    </h2>
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    <!-- borrow request : item_name, user_name(owner), quantity, lend_date
                        return_date, request_message
        item_name, user_name should be autofilled by system
        other fields should be filled in manually
    -->

    <div class="field form-group">
    <%= form.label :lend_rating, "Rate your lend experience (1-5)" %><br>
    <%= form.number_field :lend_rating, min:0, max:5, default:5, :class => 'form-control'%>
    </div>

    <div class="field form-group">
    <p>
      <%= form.label :comment_message, "message" %><br>
      <%= form.text_area :comment_message, :class => 'form-text text-muted form-control'%>
    </p>
    </div>

    <div class="fieldform-group ">
    <p>
    <%= form.hidden_field :tryid, value: @tryid %>
    </p>
    </div>
    <div class="actions">
      <p>
        <%= form.submit "submit", :class => 'btn btn-primary form-control'%>
      </p>
    </div>

  <% end %>
  </div>
</div>
