<div class = "profile_form" >

  <h1>Profile information</h1>
  
  <%= form_with model: @user_detail, local: true do |form| %>
  
    <% if @user_detail.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this user from being saved:
        </h2>
        <ul>
          <% @user_detail.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :username, "User name" %><br>
      <%= form.text_field :username, autofocus: true%>
    </div>
  
    <div class="field">
      <%= form.label :first_name, "First name" %><br>
      <%= form.text_field :first_name, autofocus: true%>
    </div>
  
    <div class="field">
      <%= form.label :last_name, "Last name" %><br>
      <%= form.text_field :last_name, autofocus: true%>
    </div>
  
    <div class="field">
      <%= form.label :birthday, "Birthday" %><br>
      <%= form.datetime_select :birthday%>
    </div>

    <div class="actions">
      <p>
        <%= form.submit "Complete my profile"%>
      </p>
    </div>
  
  <% end %>
</div>

