<div class = "change_profile_form" >

  <h2>Change profile</h2>

  <%= form_with model: @user_profile, local: true do |form| %>

    <div class="field">
      <%= form.label :username, "User Name" %><br>
      <%= form.text_field :username, autofocus: true%>
    </div>

    <div class="field">
      <%= form.label :first_name, "First Name" %><br>
      <%= form.text_field :first_name, autofocus: true%>
    </div>

    <div class="field">
      <%= form.label :last_name, "Last Name" %><br>
      <%= form.text_field :last_name, autofocus: true%>
    </div>

    <div class="field">
      <%= form.label :birthday, "Birthday" %><br>
      <%= form.date_select :birthday, :start_year=>1900, :end_year=>Time.now.year%>
    </div>

    <div class="field">
      <%= form.file_field :avatar %>

      <% if @user_profile.avatar.attached? %>
      <%= image_tag @user_profile.avatar.variant(resize: "100x100") %>
    <% end %>
    </div>

    <div class="actions">
      <%= form.submit "Change my profile", :class=>"btn btn-primary"%>
    </div>
  <% end %>

</div>
