<div class='row'>
  <div class='col-3'>
  </div>
  <div class="col-6">

    <div class="text-form form-group" , id="change_profile_form">

      <%= form_with model: @user_profile, local: true do |form| %>

      <div class="field form-group">
        <%= form.label :username, "User Name" %><br>
        <%= form.text_field :username, autofocus: true,
      :class => "form-text text-muted form-control"%>
      </div>

      <div class="field form-group">
        <%= form.label :first_name, "First Name" %><br>
        <%= form.text_field :first_name, autofocus: true,
      :class => "form-text text-muted form-control"%>
      </div>

      <div class="field form-group">
        <%= form.label :last_name, "Last Name" %><br>
        <%= form.text_field :last_name, autofocus: true,
      :class => "form-text text-muted form-control"%>
      </div>

      <div class="field form-group">
        <%= form.label :birthday, "Birthday" %><br>
        <%= form.date_field :birthday, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label :avatar, "Profile Picture" %><br>
        <%= form.file_field :avatar %>

        <% if @user_profile.avatar.attached? %>
        <%= image_tag @user_profile.avatar.variant(resize: "100x100") %>
        <% end %>
      </div>

      <!-- #### ADDRESS FIELD STARTS HERE #### -->
      <div class="field form-group">
        <%=form.fields_for :address, OpenStruct.new(@user_profile.address) do |a| %>
        <div class="field form-group">
          <%= a.label :street_address, "Street address" %><br>
          <%= a.text_field :street_address, autofocus: true,
          :class => "form-text text-muted form-control" %>
        </div>

        <div class="field form-group">
          <%= a.label :city, "City" %><br>
          <%= a.text_field :city, autofocus: true,
          :class => "form-text text-muted form-control" %>
        </div>

        <div class="field form-group">
          <%= a.label :province_id, "Provinces"%><br>
          <%= a.collection_select :province_id,
          Province.order(:province), :id, :province, :selected => '1',
          :class => 'form-control' %>
        </div>

        <div class="field form-group">
          <%= a.label :postal_code, "Postal Code" %><br>
          <%= a.text_field :postal_code, autofocus: true,
          :class => "form-text text-muted form-control" %>
        </div>
        <%end%>
      </div>
      <!-- #### ADDRESS FIELD ENDS HERE #### -->

      <div class="actions">
        <%= form.submit "Submit", :class=>"btn btn-primary"%>
      </div>
      <% end %>

    </div>
  </div>
</div>
