<h1>borrow requests</h1>

<% if @user_profile.nil? %>
    <p>please login</p>
<% end %>

<h2>Not Read</h2>
<% @items.each do |item| %>
<% if !(item.borrow_request.nil?) %>
<% if item.borrow_request.read_status==false %>
<table>
    <tr>
        <td><%= item.item_name %></td>
        <td><%= getCategoryName(item.category_id) %></td>
        <td><%= item.quantity %></td>
        <% if item.status %>
        <td>Available</td>
        <% end %>
        
        <td><%= item.borrow_request.return_date %></td>       
        <td><%= link_to 'Show', item_borrow_request_path(:item_id=>item.id, :id=>item.borrow_request.id, :read_status=>true) %></td>
    </tr>
</table>
<% end %>
<% end %>
<% end %>

<h2>Read</h2>
<% @items.each do |item| %>
<% if !(item.borrow_request.nil?) %>
<% if item.borrow_request.read_status==true %>
<table>
    <tr>
        <td><%= item.item_name %></td>
        <td><%= getCategoryName(item.category_id) %></td>
        <td><%= item.quantity %></td>
        <% if item.status %>
        <td>Available</td>
        <% end %>
        
        <td><%= item.borrow_request.return_date %></td>       
        <td><%= link_to 'Show', item_borrow_request_path(:item_id=>item.id, :id=>item.borrow_request.id) %></td>
        <td><%= link_to 'Remove', item_borrow_request_path(:item_id=>item.id, :id=>item.borrow_request.id),
        method: :delete,
    data: { confirm: 'Are you sure?'} %></td>
    </tr>
</table>
<% end %>
<% end %>
<% end %>


<br>
<%= link_to 'Back to Home page', welcome_path %>