<h1>borrow requests</h1>

<% if @user_profile.nil? %>
    <p>please login</p>
<% end %>

<h2>Not Read</h2>
<table>
<% @items.each do |item| %>
    <% if !(item.borrow_request.nil?) %>
    <% if item.borrow_request.read_status==false %>
    <tr>
        <td><%= item.item_name %></td>
        <td><%= getCategoryName(item.category_id) %></td>
        <td><%= item.quantity %></td>
        <% if item.status %>
        <td>Available</td>
        <% end %>
        
        <td><%= item.borrow_request.return_date %></td>       
        <td><%= link_to 'Show', item_borrow_request_path(:item_id=>item.id, :id=>item.borrow_request.id, :read_status=>true) %></td>
    </tr>
    
    <% end %>
    <% end %>
<% end %>
</table>

<h2>Read</h2>
<table>
<% @items.each do |item| %>
<% if !(item.borrow_requests.nil?) %>
    <% item.borrow_requests.each do |request| %>
    <tr>
        <td><%= item.item_name %></td>
        <td><%= getCategoryName(item.category_id) %></td>
        <td><%= item.quantity %></td>
        <% if item.status %>
        <td>Available</td>
        <% end %>
        
        <td><%= request.return_date %></td>       
        <td><%= link_to 'Show Request', item_borrow_request_path(:item_id=>item.id, :id=>request.id) %>|</td>
        <td><%= link_to 'Show Item', user_profile_item_path(:user_profile_id=>current_user.id, :id=>item.id) %>|</td>
        
        <td><%= link_to 'Remove', item_borrow_request_path(:item_id=>item.id, :id=>request.id),
        method: :delete,
        data: { confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
<% end %>
<% end %>
</table>
<>
<%= link_to 'Back to Home page', root_path %>
