<h1>Listing user profile (internal test)</h1>
<div class="show_user_profile">
<p>
  <strong>User Name:</strong>
  <%= @user_profile.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user_profile.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user_profile.last_name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user_profile.birthday %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile), :class => "btn btn-primary" %><br>

</div>

<!--%= link_to 'Back to Home page', root_path , :class => "btn btn-primary"%-->