<h1>Listing user profile (internal test)</h1>

<p>
  <strong>User name:</strong>
  <%= @user_profile.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_profile.last_name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user_profile.birthday %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %><br>
<%= link_to 'Back to Home page', root_path %>
