<div class='row'>
  <div class='col-3'>
  </div>
  <div class="col-6">
    <div class="text-form form-group">
      <h1>Resend confirmation instructions</h1>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
    :class => "form-text text-muted form-control" %>
      </div>

      <div class="field form-group">
        <%= f.submit "Resend confirmation instructions",
    :class=>"btn btn-primary form-control" %>
      </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
