<div class="introduction">
<%- if user_signed_in? %>
  <h1>Welcome!!!!<%=@user_name%></h1>
  <body>Who doesn't like commercial?</body>
<% else %>
  <body>
  <h3>Borrow from friends and the world around you on HamserNest.</h3>
  </body>
<% end -%>
</div>

<!--attempt to display flash in a css style.... -->
<% flash.each do |key, value| %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%=value%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end%>
<!-- attempt failed for now-->

<div class="footer">

<div class="column1">
    <%= link_to "About us", "/welcome/about" %>
</div>

<div class="column1">
<!-- link to twitter -->
<p><a href="https://twitter.com/HamsterNest?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @HamsterNest</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>

<!-- link to facebook -->
<p>
<%=link_to href="https://www.facebook.com/hamsternest.page", target: "_blank" do %>
  <%= image_tag ("facebook_icon.png"), class: "social-icon"%>
<% end %>
</p>

<!-- link to instagram -->
<p>
<%=link_to href="https://www.instagram.com/hamsternestofficial", target: "_blank" do %>
  <%= image_tag ("instagram_icon.jpeg"), class: "social-icon"%>
<% end %>
</p>

</div>

</div>
