<div class = "change_password_form" >

  <h2>Change password</h2>

  <%= form_with model: @user_account, local: true do |form| %>

    <div class="field">
      <%= form.label :password, "New password" %><br>
      <%= form.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= form.label :confirm_password, "Confirm new password" %><br>
      <%= form.password_field :confirm_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= form.submit "Change my password" %>
    </div>
  <% end %>

</div>