<div class = "signup_form" >

  <h1>Sign up</h1>
  
  <%= form_with model: @user_account, local: true do |form| %>
  
    <% if @user_account.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this user from being saved:
        </h2>
        <ul>
          <% @user_account.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <p>
        <%= form.label :email, "Email" %><br>
        <%= form.text_field :email, autocomplete: "off" %>
      </p>
    </div>

    <div class="field">
      <p>
        <%= form.label :password, "Password" %><br>
        <%= form.password_field :password, autocomplete: "off" %>
      </p>
    </div>
  
    <div class="field">
      <p>
        <%= form.label :confirm_password, "Confirm password" %><br>
        <%= form.password_field :confirm_password, autocomplete: "off" %>
      </p>
    </div>

    <div class="actions">
      <p>
        <%= form.submit "Sign Up"%>
      </p>
    </div>
  
  <% end %>
</div>

