<h1>Listing accounts (internal test)</h1>
<table>
  <tr>
    <th>id<th>
    <th>email</th>
    <th>password</th>
    <th>salt</th>
    <th></th>
  </tr>
 
  <% @user_accounts.each do |user_account| %>
    <tr>
      <td><%= user_account.id %></td>
      <td><%= user_account.email %></td>
      <td><%= user_account.password %></td>
      <td><!--%= user_account.salt %--></td>
      <td><%= link_to 'Show', user_account_path(user_account) %></td>
      <td><%= link_to 'Edit', edit_user_account_path(user_account) %></td>
    </tr>
  <% end %>
    
</table>