<div class="about_page">
<h1>Sitemap</h1>
<p>This page display all pages in one</p>
<ul>
  <li><a><%= link_to "Homepage", "/welcome/index", class:"nav-link" %></a></li>
  <li><a><%= link_to "About us", "/welcome/about", class:"nav-link" %></a></li>
  <li><a><%= link_to "Terms of Service", "/welcome/terms_of_service", class:"nav-link" %></a></li>
  <li><a><%= link_to "Privacy Policy", "/welcome/privacy_policy", class:"nav-link" %></a></li>
  <li><a><%= link_to "FAQ", "/welcome/faq", class:"nav-link" %></a></li>
  <li><a><%= link_to "Sign in", new_user_session_path, class:"nav-link" %></a></li>
  <li><a><%= link_to "Register", new_user_registration_path, class:"nav-link" %></a></li>
</ul>  

</div>