<div class = "profile_form" >

  <h1>Profile information</h1>
  
  <%= form_with model: @user_profile, local: true do |form| %>
  
    <% if @user_profile.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user_profile.errors.count, "error") %> prohibited
          this user from being saved:
        </h2>
        <ul>
          <% @user_profile.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :first_name, "First name" %><br>
      <%= form.text_field :first_name, autofocus: true%>
    </div>
  
    <div class="field">
      <%= form.label :last_name, "Last name" %><br>
      <%= form.text_field :last_name, autofocus: true%>
    </div>
  
    <div class="field">
      <%= form.label :birthday, "Birthday" %><br>
      <%= form.date_select :birthday, :start_year=>1900, :end_year=>Time.now.year%>
    </div>
  
    <!-- #### ADDRESS FIELD STARTS HERE #### -->
    <div class="fields">
      <%=form.fields_for :address do |a| %>

      <div class="field">
        <%= a.label :street_address, "Street address" %><br>
        <%= a.text_field :street_address, autofocus: true %>
      </div>

      <div class="field">
        <%= a.label :city, "City" %><br>
        <%= a.text_field :city, autofocus: true %>
      </div>

      <div class="field">
        <%= a.label :province_id, "Provinces"%><br>
        <%= a.collection_select :province_id, Province.order(:province), :id, :province, :selected => '1', :class => 'form-control' %>
      </div>

      <div class="field">
        <%= a.label :postal_code, "Postal Code" %><br>
        <%= a.text_field :postal_code, autofocus: true %>
      </div>
    <%end%>
    <!-- #### ADDRESS FIELD ENDS HERE #### -->

    <div class="actions">
      <p>
        <%= form.submit "Complete my profile"%>
      </p>
    </div>
  
  <% end %>
</div>

