<h1>Listing user info (internal test)</h1>
<table>
  <tr>
    <th>profile_id</th>
    <th>user_id</th>
    <th>username</th>
    <th>first_name</th>
    <th>last_name</th>
    <th>birthday</th>
    <th>street_address</th>
    <th>city</th>
    <th>province</th>
    <th>postal_code</th>
    <th>latitude</th>
    <th>longitude</th>
    <th></th>
  </tr>
 
  <% @user_profiles.each do |user_profile| %>
    <tr>
      <td><%= user_profile.id %></td>
      <td><%= user_profile.user_id %></td>
      <td><%= user_profile.username %></td>
      <td><%= user_profile.first_name %></td>
      <td><%= user_profile.last_name %></td>
      <td><%= user_profile.birthday %></td>
      <%if !user_profile.address.nil?%>
        <td><%= user_profile.address['street_address'] %></td>
        <td><%= user_profile.address['city'] %></td>
        <td><%= user_profile.address['province_id'] %></td>
        <td><%= user_profile.address['postal_code'] %></td>
      <%end%>
      <td><%= user_profile.latitude %></td>
      <td><%= user_profile.longitude %></td>
      <td><!--%= user_account.salt %--></td>
      <td><!--%= link_to 'Show', user_profile_path(user_profile) %--></td>
      <td><!--%= link_to 'Edit', edit_user_profile_path(user_profile) %--></td>
    </tr>
  <% end %>
  <br>
  <br>
  <% @users = User.all %>
  <% @users.each do |user| %>
    <%= user.email %><br/>
    <%= user.user_profile_id %><br/>
    <%= user.encrypted_password %><br/>
  <% end %>
    
</table>