<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">

    <%- if registerInProgress %>
      <div class="navbar-brand float-left" href="#">Hamster Nest</div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Add profile", edit_user_profile_path(current_user.id),:class => "dropdown-item" %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
          </div>
        </li>
      </ul>
      </div>
    <%- else %>
      <%= link_to root_path do %>
        <div id="hamster-nest" class="navbar-brand">Hamster Nest</div>
      <% end %>
    <% end %>

    <%- if user_signed_in? && !registerInProgress %>
    <%= render "items/item_search_box" %>
    <% else %>
    <div class="container search_field" id="search-box">
    </div>
    <% end %>

    <button id="navi-hide" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="float-right" id="navbarResponsive">
      <ul class="navbar-nav">
        <%- if !user_signed_in? && !registerInProgress %>
        <li class="nav-item">
          <%= link_to 'Register', new_user_registration_path, :class => "btn btn-link" %><br>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, :class => "btn btn-light" %><br>
        </li>
        <% end %>

        <%- if user_signed_in? && !registerInProgress %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Lists
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Lend List", lend_to_others_path, :class => "dropdown-item"  %>
              <%= link_to "My items", user_profile_items_path(:user_profile_id =>current_user.user_profile_id), :class => "dropdown-item" %>
              <%= link_to "Borrow list", borrow_from_others_path(), :class => "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "View my profile", user_profile_path(current_user.user_profile_id), :class => "dropdown-item" %>

            <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

</nav>
