<div class = "request_form" >

  <h1>Borrow request information</h1>
  
  <%= form_with(model: [ @item, @item.build_borrow_request ], local: true) do |form| %>
  <!-- check if any error -->

    
    <!-- borrow request : item_name, user_name(owner), quantity, lend_date
                        return_date, request_message
        item_name, user_name should be autofilled by system
        other fields should be filled in manually                    
    -->
    <div class="field">
    <p>
      <%= form.label :item_name, "item_name" %><br>
      <%=@item_name%>
    </p>

    <p>
      <%= form.label :owner, "owner" %><br>
      <%= form.label :user_name, @user_name%>
    </p>

    <p>
      <%= form.label :quantity, "quantity" %><br>
      <%= form.number_field :quantity%>
    </p>

    <p>
      <%= form.label :borrow_date, "borrow_date" %><br>
      <%= form.datetime_select :borrow_date%>
    </p>

    <p>
      <%= form.label :return_date, "return_date" %><br>
      <%= form.datetime_select :return_date%>
    </p>

    <p>
      <%= form.label :request_message, "message" %><br>
      <%= form.text_field :request_message%>
    </p>
    </div>

    <div class="actions">
      <p>
        <%= form.submit "Complete my profile"%>
      </p>
    </div>
  
  <% end %>
</div>

