<div class = "request_form" >

  <h1>Borrow request information</h1>
  
  <%= form_with model: @borrow_request, local: true do |form| %>
  <!-- check if any error -->
    <% if @borrow_request.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@borrow_request.errors.count, "error") %> prohibited
          this request from being sent:
        </h2>
        <ul>
          <% @borrow_request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <!-- borrow request : item_name, user_name(owner), quantity, lend_date
                        return_date, request_message
        item_name, user_name should be autofilled by system
        other fields should be filled in manually                    
    -->
    <div class="field">
      <%= form.label :item_name, "Item name" %><br>
      <%= form.label :item_name, @item_name%>
    </div>
  
    <div class="field">
      <%= form.label :owner, "owner" %><br>
      <%= form.label :user_name, @user_name%>
    </div>
  
    <div class="field">
      <%= form.label :, "quantity" %><br>
      <%= form.number_field :%>
    </div>

    <div class="field">
      <%= form.label :, "" %><br>
      <%= form.datetime_select :%>
    </div>

    <div class="field">
      <%= form.label :, "" %><br>
      <%= form.datetime_select :%>
    </div>

    <div class="field">
      <%= form.label :, "" %><br>
      <%= form.datetime_select :%>
    </div>

    <div class="actions">
      <p>
        <%= form.submit "Complete my profile"%>
      </p>
    </div>
  
  <% end %>
</div>

