<h1>Listing borrow request (internal test)</h1>
 
<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>
<p>
  <strong>Item quantity:</strong>
  <%= @item.quantity %>
</p>
<p>
  <strong>Return date:</strong>
  <%= @borrow_request.return_date%>
</p>
<p>
  <strong>Borrower:</strong>
  <%= @borrower.username%>
</p>
<p>
  <strong>Message:</strong>
  <%= @borrow_request.request_message%>
</p>
<!--%= link_to 'Edit', edit_item_borrow_request_path(@borrow_request) %--><br>
<%= link_to 'Back', user_profile_item_path(:user_profile_id=>current_user.id, :item_id=>@item.id) %>
<%= link_to 'Accept', edit_item_borrow_request__path(:user_profile_id=>current_user.id, :item_id=>@item.id) %>
<%= link_to 'Reject', edit_item_borrow_request_path(:user_profile_id=>current_user.id, :item_id=>@item.id) %>

