<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10 item-top">
    <div class="item-go-back">
      <%= link_to :back do %>
      <%= fa_icon 'arrow-left', class:"go-back-fa"%>
      <%= content_tag :span, "Back", class:"go-back-link"%>
      <% end %>
    </div>
    <div class="category-tag">
      <strong>
        <%= link_to(getCategoryName(@item.category_id), search_items_path(q: {category_id_eq: @item.category_id}), :method =>:post) %> > </strong>
    </div>
    <% if current_user.id == @owner.id %>
    <div class="owner-action">
      <% if !(@borrow_requests.nil?)%>
      <%= link_to 'RequestList', item_borrow_requests_path(:item_id =>@item.id), class: "btn btn-info"%>
      <% end %>
      <%= link_to 'Edit', edit_user_profile_item_path(current_user.id), class: "btn btn-info" %>
      <%= link_to 'Remove', user_profile_item_path(current_user.id, :id=>@item.id),
                  method: :delete,
    	      data: { confirm: 'Are you sure?'}, class: "btn btn-info" %>
    </div>
    <% end %>
  </div>
</div>
<div class="item-showcase">
  <!-- <div class="item-showcase-pattern"> -->
  <div class="container">
    <div class="row">
      <div class="item-background">
        <div class="row">
          <div class="item-image">
            <%= image_tag @item.image.variant(gravity: 'center') %>

            <%- if !@item.borrow_requests.empty? && current_user.id != @owner.id%>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Not Avaiable Time</a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div style="overflow-x:auto;">
                    <table>
                    <tr>
                      <td><strong>From</strong></td>
                      <td>| <strong>To</strong></td>
                    </tr>
                    <% @item.borrow_requests.each do |current_req|%>
                      <% if !current_req.approval.nil?%>
                      <% if current_req.approval && current_req.return_status!=2%>
                      <tr>
                        <td><%= current_req.borrow_date %></td>
                        <td>| <%= current_req.return_date %></td>
                      </tr>
                      <% end %>
                      <% end %>
                    <% end %>
                    </table>
                    </div>
                    </div>
                  </div>
                </div>

            <% end %>
          </div>
          <div class="item-detail">
            <h1>
              <%= @item.item_name %>
            </h1>
            <div class="item-description">
              <p>Owner:
                <%= link_to @item.user_profile.username, user_profile_path(@item.user_profile.id), class:"owner-link" %>
              </p>
              <p>
                <%= @item.description %>
              </p>
              <p>
                <% if @item.status == true %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
                <%= itemAvaiableMessage(@item.status) %>
              </p>
              <% if @item.status == true%>
                <p>
                  <% if current_user.id != @owner.id %>
                  <%= render 'borrow_requests/request_form' %>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- comment area -->

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
<% if !@item.comments.empty?%>
  <div class="panel panel-default comment-pannel">
    <div class="panel-heading">
      <h4 class="panel-title">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTWO">Comment:</a>
      </h4>
    </div>
    <div id="collapseTWO" class="panel-collapse collapse">
      <div class="panel-body">
      <div style="overflow-x:auto;">
      <table>

        <% @item.comments.each do |current_req|%>
        <tr>
          <td><%=link_to current_req.user_profile.username, user_profile_path(current_req.user_profile_id)%></td>
          <td><%= current_req.comment_message%>
          | <%=current_req.comment_date %></td>
          <% if(current_req.user_profile_id==current_user.id)%>
            <td><%=link_to "Edit", edit_item_comment_path(current_req.item_id,current_req.id),
            data: { confirm: 'Are you sure?'}, class: "btn btn-info" %></td>
            <td><%=link_to "Delete", item_comment_path(current_req.item_id,current_req.id),
            method: :delete,
            data: { confirm: 'Are you sure?'}, class: "btn btn-info" %></td>
          <%end%>
        </tr>
        <% end %>
    </table>
    </div>
    </div>
  </div>
</div>
<%end%>
</div>
</div>
