<div class="request_form">
  <%= form_with(model: [ @item, @item.borrow_requests.build ], local: true) do |form| %>
  <% form.label :item_name, "item_name" %>
  <%@item_name%>

  <% form.label :owner, "owner" %><br>
  <% form.label :user_name, @owner_name%>

<p><strong>Send a borrow request now:</strong></p>

  <table class="request-table">
    <tr>
      <td>
        <%= form.label :borrow_date, "borrow_date" %>
      </td>
      <td>
        <%= form.label :return_date, "return_date" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.date_field :borrow_date, min: Date.today, value: Date.today %>
      </td>
      <td>
        <%= form.date_field :return_date, min: Date.today, value: Date.today+1 %>
      </td>
    </tr>
  </table>

  <p>
    <%= form.label :request_message, "message" %><br>
    <%= form.text_area :request_message%>
  </p>

  <div class="actions">
    <p>
      <%= form.submit "Send my request"%>
    </p>
  </div>

  <% end %>
</div>
