<div class="show_request col-md-6">
<h2>Request Details</h2>
 
 
<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>
<p>
  <strong>Item quantity:</strong>
  <%= @item.quantity %>
</p>
<p>
  <strong>Borrow period:</strong>
  <%=@borrow_request.borrow_date%> to <%= @borrow_request.return_date%> 
</p>
<p>
  <strong>Lender:</strong>
  <%= link_to @owner.username, user_profile_path(@owner.id) %>
</p>
<p>
  <strong>Borrower: </strong>
  <%= link_to @borrower.username, user_profile_path(@borrower.id) %>
</p>
<p>
  <strong>Message:</strong>
  <%= @borrow_request.request_message%>
</p>

<% if @I_am_borrower %>
  <% if @borrow_request.return_status == 4 %>
    <% if @borrow_request.approval %> 
      <p><%= link_to 'Return Item',  item_borrow_request_path(:item_id=>@item.id, 
                                    :id=>@borrow_request.id, :return_status => 1, :borrower_read_status => true, :read_status =>false), :method => :put%></p>
    <% end %>
  <% elsif @borrow_request.return_status == 1 %>
    <strong><p>Waiting for <%= @owner.username %> receipt confirm</p></strong>
  <% elsif @borrow_request.return_status == 2 %>
    <strong><p>Item Returned</p></strong>
  <% elsif @borrow_request.return_status == 0 && !@borrow_request.approval.nil?%>
    <% @borrow_request.update_attribute(:borrower_read_status, true) %>
    <% if !@borrow_request.approval %>
      <strong><p>Request Declined </p></strong>
      
      <%= link_to 'Cancel Request', item_borrow_request_path(@borrow_request),
      method: :delete,
      data: {confirm: 'Are you sure to cancel the request?'} %>
    <% else %>
      <strong><p>Request Accepted </p> </strong>
    <%end%>
  <% elsif @borrow_request.return_status == 3%>
    <p><%= link_to 'Item Recieved',  item_borrow_request_path(:item_id=>@item.id, 
                                  :id=>@borrow_request.id,:return_status => 4, :borrower_read_status => true), :method=> :put%></p>
  <%end%>

<% else %>
  
  <% if @borrow_request.approval.nil? %>
    <div class="btn btn-success col-md-2" >
    <%= link_to 'Accpet', item_borrow_request_path(:approval => true, :borrower_read_status => false), :method=> :put%> 
    </div>
    <div class="col-md-1">
    </div>
    <div class="btn btn-danger col-md-2">
    <%= link_to 'Reject', item_borrow_request_path(:approval => false, :borrower_read_status => false), :method=> :put%> 
    </div>
    </div>
  <% elsif @borrow_request.approval == true %>
    <p> Appected </p>
      <!-- if borrower clicks return button, lender view will display a button to confirm delivery-->
      <% if @borrow_request.return_status == 1 %>
        <p><%= link_to 'Confirm Delivery',  item_borrow_request_path(:item_id=>@item.id, 
                                        :id=>@borrow_request.id,:return_status => 2), :method=> :put%></p>
      <% elsif @borrow_request.return_status == 2 %>
        <strong><p>Item Returned</p></strong>
      <% elsif @borrow_request.return_status == 0 %>
    
        <p class="btn btn-link"><%= link_to 'Deliver Item',  item_borrow_request_path(:item_id=>@item.id, 
                                        :id=>@borrow_request.id,:return_status => 3, :borrower_read_status => false), :method=> :put%></p>
      
      <% elsif @borrow_request.return_status == 3 %>
        <strong><p>Waiting for <%= @owner.username %> receipt confirm</p></strong>
      <% elsif @borrow_request.return_status == 4 %>
        <strong><p> delivery confirmed</p></strong>
      <% end %>
  <% else %>
    <p> Rejected </p>
  <% end %>
  
<br>
<% end %>
<br>
<!--%= link_to 'Edit', edit_item_borrow_request_path(@borrow_request) %--><br>
<!--%= link_to 'Back', user_profile_item_path(:user_profile_id=>current_user.id, :item_id=>@item.id) %-->
<% if @I_am_borrower %>
  <%= link_to 'Back to Borrow List', borrow_from_others_path %><br>
<% else %>
  <%= link_to 'Back to Lend List', lend_to_others_path %><br>
<% end %>
<%= link_to 'Back to Home Page', root_path %><br>
</div>