<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10 request-top">
    <div class="item-go-back">
      <%= link_to :back do %>
      <%= fa_icon 'arrow-left', class:"go-back-fa"%>
      <%= content_tag :span, "Back", class:"go-back-link"%>
      <% end %>
    </div>

    <div class="request-action">
      <%= link_to 'Show Item', item_path(@item), class: "btn btn-info" %>
      <% if @I_am_borrower %>
      <% if @borrow_request.return_status == 4 %>
      <% if @borrow_request.approval %>
        <%= link_to 'Return Item',  item_borrow_request_path(:item_id=>@item.id,
                                          :id=>@borrow_request.id,:return_status => 1,
                                          :borrower_read_status => true, :read_status =>false),
                                          :method=> :put, class: "btn btn-info"%>

      <% end %>
      <% elsif @borrow_request.return_status == 0 && !@borrow_request.approval.nil?%>
      <% @borrow_request.update_attribute(:borrower_read_status, true) %>
      <% if !@borrow_request.approval %>
      <%= link_to 'Cancel Request', item_borrow_request_path(@borrow_request),
            method: :delete,
            data: {confirm: 'Are you sure to cancel the request?'},
            class: "btn btn-info" %>
      <%end%>
      <% elsif @borrow_request.return_status == 3%>
        <%= link_to 'Item Recieved',  item_borrow_request_path(:item_id=>@item.id,
                                        :id=>@borrow_request.id,:return_status => 4,
                                        :borrower_read_status => true), :method=> :put,
                                        class: "btn btn-info"%>
      <%end%>
      <% else %>
      <% if @borrow_request.approval.nil? %>
      <%= link_to 'Accpet', item_borrow_request_path(:approval => true, :borrower_read_status => false), :method=> :put, class: "btn btn-info"%>
      <%= link_to 'Reject', item_borrow_request_path(:approval => false, :borrower_read_status => false), :method=> :put, class: "btn btn-info"%>
      <% elsif @borrow_request.approval == true %>
      <!-- if borrower clicks return button, lender view will display a button to confirm delivery-->
      <% if @borrow_request.return_status == 1 %>

      <%= link_to 'Item Returned',  item_borrow_request_path(:item_id=>@item.id,
                                              :id=>@borrow_request.id,:return_status => 2),
                                              :method=> :put, class: "btn btn-info"%>

      <% elsif @borrow_request.return_status == 0 %>
      <%= link_to 'Deliver Item',  item_borrow_request_path(:item_id=>@item.id,
                                              :id=>@borrow_request.id,:return_status => 3,
                                              :borrower_read_status => false), :method=> :put,
                                              class: "btn btn-info"%>

      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="request-info">
  <div class="container">
    <div class="row">
      <div class="item-background">
        <div class="row">
          <div class="item-image">
            <%= image_tag @item.image.variant(gravity: 'center') %>
          </div>
          <div class="request-detail">
            <h2>
              Request Details for <%= @item.item_name %>
            </h2>
            <div class="request-description">
              <p>
                <strong>Item quantity:</strong>
                <%= @item.quantity %>
              </p>
              <p>
                <strong>Borrow period:</strong>
                <%=@borrow_request.borrow_date%> to
                <%= @borrow_request.return_date%>
              </p>
              <p>
                <strong>Lender:</strong>
                <%= link_to @owner.username, user_profile_path(@owner.id) %>
              </p>
              <p>
                <strong>Borrower: </strong>
                <%= link_to @borrower.username, user_profile_path(@borrower.id) %>
              </p>
              <p>
                <strong>Message:</strong>
                <%= @borrow_request.request_message%>
              </p>
              <p>
                <strong>Status:</strong>

              <% if @I_am_borrower %>
              <% if @borrow_request.return_status == 4 %>
              <% if @borrow_request.approval %>
                Item borrowed.
              <% end %>
              <% elsif @borrow_request.return_status == 1 %>
              Waiting for <%= @owner.username %> to confirm returning of the item.
              <% elsif @borrow_request.return_status == 2 %>
              Item Returned.
              <% elsif @borrow_request.return_status == 0 && @borrow_request.approval.nil?%>
              <% @borrow_request.update_attribute(:borrower_read_status, true) %>
              Pending Approval from the owner.
              <% elsif @borrow_request.return_status == 0 && !@borrow_request.approval.nil?%>
              <% @borrow_request.update_attribute(:borrower_read_status, true) %>
              <% if @borrow_request.approval%>
              Pending Delivery of the item.
              <%else%>
              Rejected by the owner.
              <%end%>
              <% elsif @borrow_request.return_status == 3%>
                Pending confirmation of receiption.
              <%end%>

              <% else %>
              <!-- owner -->
              <% if @borrow_request.approval.nil?%>
              Pending Approval.
              <% elsif @borrow_request.approval == true %>
               Appected.
              <!-- if borrower clicks return button, lender view will display a button to confirm delivery-->
              <% if @borrow_request.return_status == 1 %>
                Pending confirmation of return.
              <% elsif @borrow_request.return_status == 2 %>
              Item Returned.
              <% elsif @borrow_request.return_status == 0 %>
                Pending delivery.
              <% elsif @borrow_request.return_status == 3 %>
                Waiting for
                  <%= @borrower.username %> to confirm reception.
              <% elsif @borrow_request.return_status == 4 %>
              Delivery confirmed. Pending return.
              <% end %>
              <% else %>
              Rejected
              <% end %>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
