<div class='row'>
  <div class='col-3'>
  </div>
  <div class="col-6">
    <div class="text-form form-group">
      <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
    :class => "form-text text-muted form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(
          <%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",
    :class => "form-text text-muted form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
    :class => "form-text text-muted form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class=>"btn btn-primary form-control"%>
      </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
