
<%= form_with model: @item, local: true do |form| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :item_name, "Item Name" %><br>
    <%= form.text_field :item_name %>
  </p>

  <p>
    <%= form.label :category_id, "Categories" %><br>
    <%= form.collection_select :category_id, Category.order(:category_name), :id, :category_name, include_blank: true %>
  </p>

  <p>
    <%= form.label :status, "Item is currently available" %><br>
    <%= form.check_box :status %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
