<h1>All items</h1>

<%= link_to 'New item', new_item_path %>

<table>
  <tr>
    <th>Item Name</th>
    <th>Category</th>
    <th>Availale</th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.item_name %></td>
      <td><%= getCategoryName(item.category_id) %></td>
      <td><%= item.status %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Remove', item_path(item),
              method: :delete,
	      data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
