<%= render "item_search_box" %>

<h1>Items</h1>

<%= link_to 'New item', new_user_profile_item_path() %>

<table>
  <tr>
    <!-- <th>Item Name</th> -->
    <th><%= sort_link(@search, :item_name, 'Item Name', default_order: :desc) %></th>
    <th><%= sort_link(@search, :category_id, 'Category', default_order: :desc) %></th>
    <th><%= sort_link(@search, :status, 'Availale', default_order: :desc) %></th>
  </tr>
  
  <% @user_profile.items.each do |item| %>
    <tr>
      <td><%= item.item_name %></td>
      <td><%= getCategoryName(item.category_id) %></td>
      <td><%= item.status %></td>
      <td><%= link_to 'Show', item_path(item) %>|</td>
      <td><%= link_to 'Edit', edit_item_path(item) %>|</td>
      <td><%= link_to 'Remove', item_path(item),
              method: :delete,
	      data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
