<body>
<p>
  <strong>Owner: </strong>
  <%= @item.user_profile.username %>
</p>
<p>
  <strong>Item: </strong>
  <%= @item.item_name %>
</p>
<p>
  <strong>Item Description: </strong>
  <%= @item.description %>
</p>
<p>
  <strong>Category: </strong>
  <%= getCategoryName(@item.category_id) %>
</p>
<p>
  <%= image_tag @item.image %>
</p>
<p>
  <strong><%= itemAvaiableMessage(@item.status) %></strong>
</p>



<% if @unlogin %>
  <% if current_user.id == @owner %>
    <%= link_to 'Borrow', new_item_borrow_request_path(:item_id=>@item.id)%> |
  <% end %>
  <%= link_to 'Back', items_path %>
<% else %>
  <%= link_to 'Edit', edit_user_profile_item_path %> |
  <% if !(@borrow_requests.nil?)%>
    <%= link_to 'RequestList', item_borrow_request_path(:item_id=>@item.id)%> |
  <% end %>
   <td><%= link_to 'Remove', user_profile_item_path(:id=>@item.id),
              method: :delete,
	      data: { confirm: 'Are you sure?'} %></td> |
  <%= link_to 'Back', user_profile_items_path %>
<% end %>
</body>
